html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Fugaz One', cursive;
    background: #ffffff;
} 

h1 {
    font-size: 2em;
    font-family: 'Fugaz One', cursive;
    margin: 10px;
    color: #3d4d80;
}

h2 {
    font-size: 1.8em;
    font-family: 'Fugaz One', cursive;
    margin: 10px;
    color: #3d4d80;
}

h3 {
    font-size: 1.4em;
    font-family: 'Lato', sans-serif;
    margin: 10px;
}

p {
    font-family: 'Lato', sans-serif;
    margin: 10px;
    font-size: 14px; 
}

li {
    list-style-type: none;
    display: inline;
}

header {
    display: block;
    background-color: #d62222;
    height: inherit;
    padding: 10px;
}

footer {
    background-color: #d62222;
    height: inherit;
    width: 100%;
}

a {
    color: #3d4d80;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

a:hover {
    text-decoration: underline;
}

main {
    max-width: 1200px;
    display: block;
}

article {
    padding: 10px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

article.img {
    padding: 5px;
}

/* logo */

#logo {
    margin: 10px;
}

#logo img {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    width: 40%;   
}

@media (min-width: 950px) {
#logo img {
    display: block;
    width: 30%;
    }
}

/* buttons */

.button {
    display: block;
    height: auto;
    width: auto;
    background: #3d4d80;
    border-color: gray;
    padding: 5px; 
    border: 1px solid #777;
    padding: 0 1.5em;
    margin: 0.5em;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}

.button a {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    text-align: center;
}

@media (min-width: 800px) {
 .button {
    display: block;
    width: 50%;
    }
}

/*background image*/

img.background {
    background-size: cover;
    opacity: 0.8;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

@media (max-width: 400px) {
img.background {
    width: 100%;
    }
}


/*footer*/

ul.social {
    float: right;
    display: inline;
}

p.footer {
    float: right;
}

/*table*/

table {
    font-family: sans-serif;
    margin: 5px;
    border: 1px;
}

td {
    padding: 5px;
}